<app-navbar></app-navbar>

<div class="container sreen-1280">
  <h1>หน้าสร้างกระทู้</h1>
  <input type="text" class="input-topic" [(ngModel)]="data.chaptername" placeholder="เขียนหัวข้อกระทู้">

  <div class="form-group">
    <!-- <textarea class="textarea" placeholder="เขียนข้อความ หรือแนบรูป"></textarea> -->
    <angular-editor id="editor1" autofocus="true" [(ngModel)]="data.editorContent1" [config]="config1"
      (ngModelChange)="saveToSessionStorage()"></angular-editor>

  </div>

  <div class="form-content">
    <div class="form-group">
      <!-- <label>ชื่อผู้แต่ง</label> -->
      <h3 class="name-wirter" style="color: #7c4d3d;">ชื่อผู้แต่ง</h3>
      <input type="text" class="input-name-writer" style="outline: none;" readonly
        placeholder="{{ profileData?.user_name}}">
    </div>

    <div class="form-group">
      <!-- <label>Tag 0/8</label> -->
      <label class="tags-head">แท็ก ({{ countTags() }}/20)</label>
      <div class="tags">
        <span *ngFor="let tag of tagsArray" (click)="deltag(tag)" class="tag">
          {{ tag }} <span class="remove-tag">×</span>
        </span>
      </div>

      <div class="tag-novel">
        <h3 style="color: #7c4d3d;">เพิ่ม Tag ที่แนะนำ</h3>
        <div class="tag-input-group">
          <select class="tag-dropdown" [(ngModel)]="selectedTag" (change)="addTagRec(selectedTag)"
            aria-placeholder="เลือกจาก Tag ที่มีอยู่">
            <option value="" disabled [selected]="!selectedTag">เลือกจาก Tag ที่มีอยู่</option>
            <option *ngFor="let tag of tageRec; trackBy: trackByTag" [value]="tag.tag">
              {{ tag.tag }}
            </option>
          </select>
        </div>


        <div class="tag-input-group">
          <h3 style="color: #7c4d3d;">สร้าง Tag</h3>
          <input type="text" class="tag-input" placeholder="พิมพ์ Tag ที่ต้องการ" (keyup.enter)="addTag()"
          [(ngModel)]="newTag">
          <i class="fa-solid fa-plus add-tag-novel" (click)="addTag()"></i>
        </div>
      </div>

      <div class="btn-actions">
        <button (click)="submit()">Create Blog</button>
      </div>
    </div>

  </div>