nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  padding: 1rem;
  background: #333;
  
  & .logo {
      color: white;
  }

  & .menu {
      display: flex;
      list-style: none;
      
      & li {
          margin: 0 2rem;
          
          & a {
              color: aliceblue;
              text-decoration: none;
          }
      }
  }
}