<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <div class="container-sub">
            <div class="image-container">
                <img src="image\g.png" alt="imagelogin">
            </div>
            <div class="login-container">
                <h2>Thanwiwa</h2>
                <form id="loginForm" (ngSubmit)="login()" class="login-form" #loginForm="ngForm" novalidate>
                    <div class="input-group">
                        <input type="text" id="username" placeholder="username" name="username" [(ngModel)]="username" #usernameInput="ngModel" required>
                    </div>
                    <div class="input-group">
                        <input  [type]="showPassword ? 'text' : 'password'" id="password" placeholder="password" name="password" [(ngModel)]="password" minlength="8" #passwordInput="ngModel" required>
                        <button type="button" (click)="togglePasswordVisibility()" class="toggle-btn"> <i [ngClass]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i></button>
                    </div>
                    <div class="input-group1">
                        <a [routerLink]="['/register']" >สมัครสมาชิก</a>
                        <a [routerLink]="['/forgot-password']" >ลืมรหัสผ่าน?</a>
                    </div>
                    <div class="input-group2">
                        <button type="submit" (click)="login()">Login</button>
                    </div>
                    <div class="input-group3">
                        <label for="">หรือเข้าสู่ระบบโดย</label>
                        <div class="social">
                            <a ><img src="image\facebook.png" alt="facebook-icon"
                                    style="width: 42px; height: 42px;"></a>
                            <!-- <a ><img src="image\line.png" alt="line-icon"
                                    style="width: 42px; height: 42px;"></a> -->
                            <a href="http://localhost:3090/auth/google">
                                <img src="image/google.png" alt="google-icon" style="width: 42px; height: 42px;">
                            </a>
                        </div>
                    </div>
                </form>
                    <!-- Popup -->
                    <div *ngIf="showPopup" class="popup">
                        <div class="popup-content">
                          <h3>{{ popupMessage }}</h3>
                          <button (click)="closePopup()">OK</button>
                        </div>
                      </div>
            </div>
        </div>
    </div>
</body>

</html>