<app-navbar></app-navbar>
<style></style>

<div class="lits-container">
  <div class="lits-head">
    <div class="lits-card">
      <!-- <div class="lits-image" title="image">image</div> -->
      <img src="/image/test3.jpg" alt="" class="lits-image" />
      <div class="btn-read">
        <fa-icon [icon]="faEye" class="faicons"></fa-icon>
        <label style="font-size: 14px" for="">อ่านเลย</label>
      </div>
      <div class="lits-ch">
        <div class="btn-save">
          <fa-icon [icon]="faPlus" class="faicons"></fa-icon>
          <label style="font-size: 14px" for="">บันทึกลงคลัง</label>
        </div>
        <div class="btn-sentGift">
          <fa-icon [icon]="faGift" class="faicons"></fa-icon>
          <label style="font-size: 14px" for="">ส่งของขวัญ</label>
        </div>
        <div class="fav-icon">
          <fa-icon [icon]="faHeart" style="font-size: 20px"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="lits-container">
  <div class="lits-main-card">
    <div class="lits-main-head">
      <h3 for="" class="bold-text;">ชื่อนิยาย</h3>
      <div class="stars">
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
      </div>
    </div>
    <div class="writer">
      <div class="writer-body">
        <label for="" style="margin-bottom: 5px">นามปากกา</label>
        <div class="btn-follow">
          <label for="">ติดตาม</label>
        </div>
      </div>
      <div class="writer-end">
        <fa-icon [icon]="faHeart" class="faicons"></fa-icon>
        <label for="" name="following">50K</label>
      </div>
    </div>
    <label for="" class="fiction-type">แนวนิยาย</label>

    <div class="quantity">
      <div class="numof">
        <div class="numof-eps">
          <fa-icon [icon]="faList" class="faicons"></fa-icon>
          <label for="">20 ตอน</label>
        </div>
        <div class="numof-views">
          <fa-icon [icon]="faEye" class="faicons"></fa-icon>
          <label for="">38.1K เข้าชม</label>
        </div>
        <div class="numof-comm">
          <fa-icon [icon]="faMessage" class="faicons"></fa-icon>
          <label for="">84 ความคิดเห็น</label>
        </div>
        <div class="numof-save">
          <fa-icon [icon]="faBookmark" class="faicons"></fa-icon>
          <label for="">123 บันทึกลงคลัง</label>
        </div>
      </div>
    </div>

    <div class="recommend-story">
      <div class="recommend-head">
        <label for="" style="font-size: 16px" class="bold-text"
          >แนะนำเรื่อง</label
        >
        <p class="story-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum
          fugit repellat modi quisquam consequuntur sapiente enim quaerat
          dolorem, officia ratione.
        </p>
      </div>

      <label for="" style="font-size: 16px" class="bold-text">เพิ่มเติม</label>
      <div class="tag-recomm">
        <div class="btn-tag">
          <fa-icon [icon]="faTag" class="faicons"></fa-icon>
          <label for="">ดราม่า</label>
        </div>
        <div class="btn-tag">
          <fa-icon [icon]="faTag" class="faicons"></fa-icon>
          <label for="">ดราม่า</label>
        </div>
        <div class="btn-tag">
          <fa-icon [icon]="faTag" class="faicons"></fa-icon>
          <label for="">ดราม่า</label>
        </div>
        <div class="btn-tag">
          <fa-icon [icon]="faTag" class="faicons"></fa-icon>
          <label for="">ดราม่า</label>
        </div>
        <div class="btn-tag">
          <fa-icon [icon]="faTag" class="faicons"></fa-icon>
          <label for="">ดราม่า</label>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="novelep-container">
  <div class="novel-eps">
    <div class="noeps" style="justify-content: start">
      <h4 for="" class="bold-text">นิยายตอน 16</h4>
    </div>
    <div class="btn-group">
      <div class="table-pagination">
        <button class="btn-ep">
          <label class="font-size: small">ตอนแรกสุด</label>
        </button>
        <button class="btn-ep">
          <fa-icon [icon]="faChevronLeft"></fa-icon>
        </button>
        <button class="numep">
          <label class="font-size: small" style="padding: 5px 22px"
            >1 - 10</label
          >
        </button>
        <button class="btn-ep">
          <fa-icon [icon]="faChevronRight"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div> -->

<div class="table-container">
  <div class="table-novels">
    <!-- <div class="novel-eps"></div> -->

    <div class="table-body">
      <!-- <div class="noeps">
      </div> -->
      <h3 for="" class="bold-text">นิยายตอน 16</h3>
      <div class="btn-group">
        <div class="table-pagination">
          <button class="btn-ep">
            <label class="font-size: small">ตอนแรกสุด</label>
          </button>
          <button class="btn-ep">
            <fa-icon [icon]="faChevronLeft"></fa-icon>
          </button>
          <button class="numep">
            <label class="font-size: small" style="padding: 5px 22px"
              >1 - 10</label
            >
          </button>
          <button class="btn-ep">
            <fa-icon [icon]="faChevronRight"></fa-icon>
          </button>
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell" style="width: 32px">1</div>
        <div class="table-cell">
          <fa-icon [icon]="faFileLines" class="faicons"></fa-icon>เรื่องย่อ...
        </div>
        <div class="table-cell">
          <fa-icon [icon]="faEye" class="faicons"></fa-icon>120
        </div>
        <div class="table-cell">
          <fa-icon [icon]="faMessage" class="faicons"></fa-icon>5
        </div>
        <div class="table-cell">20 หน้า</div>
        <div class="table-cell" style="width: 50px">22/10/2024 12:30</div>
        <div class="table-cell"><img src="/image/free.png" alt="" /></div>
      </div>
      <div class="table-row">
        <div class="table-cell">1</div>
        <div class="table-cell">
          <fa-icon [icon]="faFileLines" class="faicons"></fa-icon>เรื่องย่อ...
        </div>
        <div class="table-cell">
          <fa-icon [icon]="faEye" class="faicons"></fa-icon>120
        </div>
        <div class="table-cell">
          <fa-icon [icon]="faMessage" class="faicons"></fa-icon>5
        </div>
        <div class="table-cell">20 หน้า</div>
        <div class="table-cell" style="width: 50px">22/10/2024 12:30</div>
        <div class="table-cell"><img src="/image/free.png" alt="" /></div>
      </div>
      <div class="table-row">
        <div class="table-cell">1</div>
        <div class="table-cell">
          <fa-icon [icon]="faFileLines" class="faicons"></fa-icon>เรื่องย่อ...
        </div>
        <div class="table-cell">
          <fa-icon [icon]="faEye" class="faicons"></fa-icon>120
        </div>
        <div class="table-cell">
          <fa-icon [icon]="faMessage" class="faicons"></fa-icon>5
        </div>
        <div class="table-cell">20 หน้า</div>
        <div class="table-cell" style="width: 50px">22/10/2024 12:30</div>
        <div class="table-cell"><img src="/image/free.png" alt="" /></div>
      </div>
      <div class="table-row">
        <div class="table-cell">1</div>
        <div class="table-cell">
          <fa-icon [icon]="faFileLines" class="faicons"></fa-icon>เรื่องย่อ...
        </div>
        <div class="table-cell">
          <fa-icon [icon]="faEye" class="faicons"></fa-icon>120
        </div>
        <div class="table-cell">
          <fa-icon [icon]="faMessage" class="faicons"></fa-icon>5
        </div>
        <div class="table-cell">20 หน้า</div>
        <div class="table-cell" style="width: 50px">22/10/2024 12:30</div>
        <div class="table-cell"><img src="/image/free.png" alt="" /></div>
      </div>
      <div class="table-row">
        <div class="table-cell">1</div>
        <div class="table-cell">
          <fa-icon [icon]="faFileLines" class="faicons"></fa-icon>เรื่องย่อ...
        </div>
        <div class="table-cell">
          <fa-icon [icon]="faEye" class="faicons"></fa-icon>120
        </div>
        <div class="table-cell">
          <fa-icon [icon]="faMessage" class="faicons"></fa-icon>5
        </div>
        <div class="table-cell">20 หน้า</div>
        <div class="table-cell" style="width: 50px">22/10/2024 12:30</div>
        <div class="table-cell"><img src="/image/free.png" alt="" /></div>
      </div>
    </div>
    <!-- Pagination Section -->
    <div class="table-pagination">
      <div class="btn-ep"><fa-icon [icon]="faChevronLeft"></fa-icon></div>
      <div class="numep">
        <label class="font-size: small" style="padding: 5px 22px">1 - 10</label>
      </div>
      <div class="btn-ep"><fa-icon [icon]="faChevronRight"></fa-icon></div>
    </div>
  </div>
</div>

<div class="recomm-novels-container">
  <div class="recomm-novels">
    <h4 for="" class="novel-title">นิยายแนะนำ</h4>

    <div class="novel-container">
      <!-- Card 1 -->
      <div class="novel-card">
        <img src="/image/test1.jpg" alt="Novel 1" class="novel-image" />
        <div class="novel-info">
          <label class="novel-name">ชื่อเรื่องนิยาย 1</label>
          <p class="novel-description">คำอธิบายสั้นๆ ของนิยายเรื่องนี้</p>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="novel-card">
        <img src="/image/test2.jpg" alt="Novel 2" class="novel-image" />
        <div class="novel-info">
          <h4 class="novel-name">ชื่อเรื่องนิยาย 2</h4>
          <p class="novel-description">คำอธิบายสั้นๆ ของนิยายเรื่องนี้</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="leaveacomm-container">
  <div class="leaveacomm">
    <h4 for="" class="novel-title">แสดงความคิดเห็น</h4>

    <div class="crad-commn">
      <label for="" class="comment-title"
        >เข้าสู่ระบบเพื่อแสดงความคิดเห็น</label
      >
      <div class="btn-commn">เข้าสู่ระบบ</div>
    </div>
  </div>
</div>

<div class="allcomments-container">
  <div class="allcomments">
    <h4 for="" class="allcomments-title">ความคิดเห็นทั้งหมด</h4>

    <div class="card-comments">
      <img src="/image/avartar.jpg" alt="" class="avatar" />

      <div class="comment-content">
        <!-- แถวสำหรับชื่อผู้ใช้และวันที่แสดงความคิดเห็น -->
        <div class="user-and-date">
          <div class="usename">ชื่อผู้ใช้</div>
          <div class="commndate">วันที่</div>
        </div>

        <!-- แถวสำหรับจากตอน... และตอบกลับ -->
        <!-- แถวสำหรับจากตอน... และตอบกลับ -->
        <div class="from-and-reply">
          <div><label for="">จากตอน...</label></div>
          <div class="respond">
            <div class="forward-icon-container">
              <img
                src="/image/forward.png"
                alt="Forward Icon"
                class="forward-icon"
              />
            </div>
            <label for="">ตอบกลับ (0)</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
