<app-navbar></app-navbar>
<div class="containerfornav">
  <div class="container-page">
    <div class="container">
      <div class="form-group">
        <div class="header">
          นิยาย (บรรยาย)
        </div>
        <div class="file-upload-head">
          <div class="file-upload-sub">
            <app-uploadimage></app-uploadimage>
            <!-- 
            <button (click)="submitProfilePic()">อัปโหลดรูปภาพ</button> -->
            <div class="penname">
              <!-- แสดงลิงก์เมื่อไม่อยู่ในโหมดแก้ไข -->
              <a *ngIf="!isEditingPenName" (click)="penName()">
                {{ novel.penName ? novel.penName : '+ นามปากกา' }}
              </a>

              <!-- แสดง input เมื่ออยู่ในโหมดแก้ไข -->
              <input *ngIf="isEditingPenName" #penNameInput type="text" [(ngModel)]="novel.penName"
                (keydown.enter)="confirmPenName()">
            </div>
          </div>
          <div id="croppedImageContainer" style="display: none;">
            <img id="croppedImage" alt="Cropped Image Preview" />
          </div>



          <div class="form-group-1">
            <label for="title">ชื่อเรื่อง</label>
            <input id="title" name="title" [(ngModel)]="novel.novelName" type="text">
            <label for="subtitle">คำโปรย/เรื่องย่อ</label>
            <textarea id="subtitle" name="subtitle" [(ngModel)]="novel.desc" type="text"></textarea>
          </div>
        </div>
      </div>


      <div class="form-group">
        <label for="main-category">หมวดหมู่หลัก</label>
        <div class="dropdown-container">
          <select id="subItemSelect" [(ngModel)]="selectedItem" (change)="onSelectItem($event)">
            <option value="" disabled selected>เลือกหมวดหมู่หลัก</option>
            <!-- Group items -->
            <optgroup *ngFor="let group of groupedData | keyvalue" [label]="group.key">
              <!-- Sub-item option with tooltip for 'desc' on hover -->
              <option *ngFor="let subItem of group.value" [value]="subItem.label" [title]="subItem.desc">
                {{ subItem.label }}
              </option>
            </optgroup>
          </select>
        </div>


        <div class="main-category-sub">
          <div class="category-sub">
            <label for="sub-category1">หมวดหมู่รอง 1 <b>(ไม่จำเป็นต้องใส่)</b></label>
            <select id="sub-category1" name="sub-category1" [(ngModel)]="novel.selectedSubCategory1">
              <option value="" disabled selected>หมวดหมู่รอง</option>
              <option *ngFor="let subGroup of filteredSubGroups('sub-category1')" [value]="subGroup.label">
                {{ subGroup.label }}
              </option>
            </select>
          </div>

          <div class="category-sub">
            <label for="sub-category2">หมวดหมู่รอง 2 <b>(ไม่จำเป็นต้องใส่)</b></label>
            <select id="sub-category2" name="sub-category2" [(ngModel)]="novel.selectedSubCategory2">
              <option value="" disabled selected>หมวดหมู่รอง</option>
              <option *ngFor="let subGroup of filteredSubGroups('sub-category2')" [value]="subGroup.label">
                {{ subGroup.label }}
              </option>
            </select>
          </div>

        </div>
      </div>

      <div class="form-group">
        <label for="rating">ระดับของเนื้อหา (Rating)</label>
        <select id="rating" name="rating" [(ngModel)]="novel.rate">
          <option value="" disabled selected>เลือกระดับของเนื้อหา</option>
          <option *ngFor="let rate of rates">{{ rate.rate }}</option>
        </select>
        <label class="tags-head">แท็ก (0/18)</label>
        <div class="tags">
          <span *ngFor="let tag of tags">{{ tag }}</span>
        </div>
        <label for="tags">แท็กแนะนำ</label>
        <div class="tags">
          <span *ngFor="let tag of tageRec" (click)="addTagRec(tag.tag)" class="tag">{{ tag.tag }}</span>
        </div>
        <input id="tags" name="tags" type="text" placeholder="ใส่แท็กเพิ่ม (กด Enter เพื่อเพิ่มแท็กใหม่)"
          (keyup.enter)="addTag()" [(ngModel)]="newTag" />
      </div>

      <div class="buttons">
        <button class="back-button" (click)="goBack()">ย้อนกลับ</button>
        <button class="submit-button" (click)="submit()">บันทึก</button>
      </div>
    </div>
  </div>
</div>
<app-popup></app-popup>