<app-navbar></app-navbar>
<div class="container-page">
  <div class="container">
    <div class="form-group">
      <div class="header">
        นิยาย (บรรยาย)
      </div>
      <div class="file-upload-head" >
        <div class="file-upload-sub" >
          <div class="file-upload" (click)="uploadImage()">
          <label class="file-label" for="fileInput">
            <i class="upload-icon">📁</i>
            <p>Drag &amp; Drop your files here or click to upload</p>
          </label>
        </div>
          <a >+ นามปากกา</a>
        </div>
        <!-- <img *ngIf="imageUrl" [src]="imageUrl" alt="Placeholder image for book cover" height="100" width="100" /> -->
          
      

      <div class="form-group-1">
        <label for="title">ชื่อเรื่อง</label>
        <input id="title" name="title" [(ngModel)]="novel.title" type="text" >
        <label for="subtitle">คำโปรย/เรื่องย่อ</label>
        <textarea  id="subtitle" name="subtitle" [(ngModel)]="novel.subtitle" type="text" ></textarea>
      </div>
    </div>
    </div>
    

    <div class="form-group">
      <label for="main-category">หมวดหมู่หลัก</label>
      <select id="main-category" name="main-category" [(ngModel)]="novel.mainCategory">
        <option>หมวดที่ตรงกับเนื้อหามากที่สุด</option>
      </select>
      <div class="main-category-sub">
        <label for="sub-category1">หมวดหมู่รอง 1 (ไม่จำเป็นต้องใส่)</label>
        <select id="sub-category1" name="sub-category1" [(ngModel)]="novel.subCategory1">
          <option>หมวดที่เกี่ยวข้องรองลงมา</option>
        </select>

        <label for="sub-category2">หมวดหมู่รอง 2 (ไม่จำเป็นต้องใส่)</label>
        <select id="sub-category2" name="sub-category2" [(ngModel)]="novel.subCategory2">
          <option>หมวดที่เกี่ยวข้องรองลงมา</option>
        </select>

      </div>
    </div>
  
    <div class="form-group">
      <label for="rating">ระดับของเนื้อหา (Rating)</label>
      <select id="rating" name="rating" [(ngModel)]="novel.rating">
        <option>เลือกระดับของเนื้อหา</option>
      </select>
    </div>
    <div class="form-group">
      <label>แท็ก (0/18)</label>
      <div class="tags">
        <span *ngFor="let tag of tags">{{ tag }}</span>
      </div>
    </div>
    <div class="form-group">
      <label for="tags">ใส่แท็กเพิ่ม (กด "Enter" เพื่อเพิ่มแท็กใหม่)</label>
      <input id="tags" name="tags" type="text" (keyup.enter)="addTag()" [(ngModel)]="newTag" />
    </div>
    <div class="buttons">
      <button class="back-button" (click)="goBack()">ย้อนกลับ</button>
      <button class="submit-button" (click)="submit()">บันทึก</button>
    </div>
  </div>
</div>
