.container-page {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    position: relative;
   margin: 0 auto;
    z-index: 1;
    width: 1100px;
}

.container {
    margin-top: 6rem;
    
}

.header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
}

.form-group {
    background-color: #fff;
    text-align: start;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group-1 {
    
    width: 600px;
    
    input textarea {
        width: 100%;
        height: 88px;
        font-size: 24px;

    }
    textarea {
        padding: 10px;
        width: 100%;
        resize: none;
        font-size: 20px;
        height: 200px;
        border-radius: 5px;
    }

}

.file-upload-head {
    display: flex;
    justify-content: space-around;
}


.main-category-sub {
    display: flex;
    justify-content: space-around;

    .category-sub {
        width: 48%;
    }
}

.container {
    text-align: center;
    max-width: 90%;
    width: 100%;
  }
  

  #rating {
    margin-bottom: 10px;
  }
.tags-head {
    margin-top: 10px;
}
.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
    
}

.tags span {
    background-color: #e0f7fa;
    border: 1px solid #00acc1;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.buttons .back-button {
    background-color: #333;
    color: #fff;
}

.buttons .submit-button {
    background-color: #ff9900;
    color: #fff;
}



/* .dropdown-container {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-btn {
    padding: 10px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
  }
  
  .dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-item {
    padding: 8px;
    cursor: pointer;
    position: relative;
  }
  
  .dropdown-item:hover {
    background-color: #ddd;
  }
  
  /* Hide child dropdown by default */
  /* .child-dropdown {
    display: none;
    position: absolute;
    left: 100%; /* Align to the right of the group item */
    /* top: 0;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  
  /* Show child dropdown on hover of the group item */
  /* .dropdown-item:hover .child-dropdown {
    display: block;
  } */ 