<app-navbar></app-navbar>

<div class="container-page">
  <div class="containerfornav">
    <div class="banner">
      <div class="flexcard" #flexcard>
        <a *ngFor="let card of slides; let i = index" [ngClass]="{ active: i === currentIndex }"
          (mouseover)="stopAutoSlide()" (mouseleave)="startAutoSlide()" class="card-ban">
          <img [src]="card.image" [alt]="card.title" />
          <!-- <h5>{{ card.title }}</h5> -->
        </a>
      </div>
      <!-- Dot Navigation -->
      <div class="dots-container">
        <span *ngFor="let slide of slides; let i = index" class="dot" [ngClass]="{ active: i === currentIndex }"
          (click)="goToSlide(i)"></span>
      </div>
    </div>

    <div class="content">
      <div class="aside ">
        <!-- Category Section -->
        <aside class="category-section">
          <div class="category-header"(click)="showsBtn()">
            <div class="category-title" >
              <img src="image/g.png" alt="Character" />
              <h2>หมวดหมู่</h2>
            </div>
          </div>
          <!-- Category Buttons -->
          <div class="category-buttons" *ngIf="btnTag" >
            <a *ngFor="let tag of category | slice:5; let i = index" class="tag-list">
              <button (click)="goTotag()" [ngStyle]="buttonStyles[i]">{{ tag.tag }}</button>
            </a>
          </div>
        </aside>
      </div>

      <div class="section">

        <section class="section-sub">
          <div class="novel-header">
            <h2>นิยายอัพเดทล่าสุด</h2>
            <a >ดูทั้งหมด <i class="fas fa-arrow-right">
              </i></a>
          </div>
            <div class="novel-card" >
              <div class="novel-card-sub" *ngFor="let nvupdate of novelupdate | slice:0:10;">
                <div class="card" >
                <img [src]="nvupdate.image" [alt]="nvupdate.name" >
                </div>
                  <div class="card-sub">
                   <h5>{{ nvupdate.name }}</h5>
                    <h6>{{ nvupdate.penname }}</h6>
                    <h6><i class="fas fa-book"> </i> {{ nvupdate.ep }} ตอน</h6>
                </div>
              </div>
            </div>
        </section>

        <section class="section-sub">
          <div class="novel-header">
            <h2>ยอดนิยม</h2>
          </div>
            <div class="novel-card justi-aroun" >
            <div *ngFor="let popcard of popular; let i = index" class="novel-card-sub">
              <div class="card">
                <img [src]="popcard.image" [alt]="popcard.name" />
                <!-- <span class="number">{{ i + 1 }}</span> -->
              </div>
              <div class="card-sub">
              <h5>{{ popcard.name }}</h5>
              <h5>{{ popcard.tag }}</h5>
              <h6>{{ popcard.penname }}</h6>
              <h6><i class="fas fa-book"> </i> {{ popcard.ep }} ตอน</h6>
            </div>
            </div>
          </div>

        </section>

        <section class="section-sub">
          <h2>รายการแนะนำ</h2>
          <div class="novel-card" #recommendContainer (scroll)="checkScroll()">
            <div class="novel-card-sub" *ngFor="let rect of recmmend">
            <div class="card">
              <img [src]="rect.image" [alt]="rect.name" />
            </div>
              <div class="card-sub">
                <h5>{{ rect.name }}</h5>
                <h6>{{ rect.penname }}</h6>
                <h6><i class="fas fa-book"> </i> {{ rect.ep }} ตอน</h6>
              </div>
            </div>
            <span class="arrow arrow-left" (click)="scrollLeft()" *ngIf="showLeftArrow">
              <i class="fas fa-arrow-left"></i>
            </span>
            <span class="arrow arrow-right" (click)="scrollRight()" *ngIf="showRightArrow">
              <i class="fas fa-arrow-right">
              </i>
            </span>
          </div>
        </section>


      </div>
     
    </div>
  </div>
</div>