<body>
    <div class="forgotpass">
        <div class="forgotpass-sub">
            <div class="form-forgot">
                <label>ลืมรหัสผ่านใช่หรือไม่?</label>
                <div class="input-group">
                    <img src="image\Lock.png" alt="[pass-icon]" style="width: 27px; height: 27px;">
                    <input type="password" id="password" placeholder="password" name="password" required>
                </div>
                <div class="input-group">
                    <img src="image\Lock.png" alt="[pass-icon]" style="width: 27px; height: 27px;">
                    <input type="password" id="password-confirm" placeholder="password confirm"
                        name="password-confirm" required>
                </div>
                <div class="input-group2">
                    <button type="submit">ดำเนินการต่อ</button>
                </div>
            </div>
        </div>
    </div>
</body>