<app-navbar></app-navbar>
<div class="containerfornav">
<div class="contrainer">

    <div class="header">
        <h3>ชื่อตอน</h3>
        <input type="text" [(ngModel)]="data.chaptername" (ngModelChange)="saveToSessionStorage()">
        <!-- <a>{{ chaptername }}</a> -->
         <button>ดูตัวอย่าง</button>
    </div>

    <div class="editorContent1">
        <h3>เนื้อหา</h3>
        <angular-editor id="editor1" autofocus="true" [(ngModel)]="data.editorContent1"  [config]="config1" (ngModelChange)="saveToSessionStorage()">   
        </angular-editor>
        <!-- <p>Output Editor 1: {{ editorContent1 }}</p> -->
    </div>

    <div class="editorContent2">
        <h3>ข้อความจากนักเขียน</h3>
        <angular-editor id="editor2"  [(ngModel)]="data.editorContent2"  [config]="config2" (ngModelChange)="saveToSessionStorage()">  
           
        </angular-editor>
        <!-- <p>Output Editor 2: {{ editorContent2 }}</p> -->
    </div>
    <hr>
    <div class="setting">
        <h3>ตั้งค่าตอน</h3>
        <div class="setting-ep">
            <input type="checkbox" (change)="toggle($event)">
            <label>อนุญาตให้ผู้อ่านแสดงความคิดเห็น</label>
        </div>
    </div>

    <div class="buttons">
        <button (click)="btnCancel()" id="cancel">ยกเลิก</button>
        <button (click)="addEpisode()">ตกลง</button>
    </div>

</div>
</div>