<div class="file-upload" (click)="fileInput.click()">
  <label class="file-label">
    <i class="upload-icon">📁</i>
    <p>Drag & Drop your files here or click to upload</p>
  </label>
  <div id="croppedImageContainer">
    <img [src]="croppedImage" alt="Cropped Image Preview" />
  </div>
  <input #fileInput type="file" id="fileInput" accept="image/*" (change)="handleFileSelect($event)"
    style="display: none;" />
</div>

<div id="cropModal" >
  <div class="modal-content">
    <div class="image-container">
  <img id="imagePreview" alt="Image preview for cropping" />
</div>
  <button (click)="cropImage()">Crop</button>
  <button (click)="closeModal()">Close</button>
</div>
</div>