.forgotpass {
    height: 100vh;
    position: relative;
}

.forgotpass-sub {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 500px;
}

.form-forgot {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    justify-content: center;
    align-items: center;
    gap: 30px; /* ลดช่องว่างลงสำหรับหน้าจอเล็ก */
}

.input-otp {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.input-otp input {
    height: 50px; /* ลดขนาดเล็กลงเล็กน้อย */
    width: 40px; /* ลดขนาดเล็กลงเล็กน้อย */
}

/* Media Queries เพื่อทำให้ responsive สำหรับหน้าจอขนาดเล็กกว่า 768px */
@media (max-width: 768px) {
    .forgotpass-sub {
        max-width: 90%;
        padding: 10px;
    }

    .input-otp input {
        height: 45px;
        width: 35px;
    }

    .form-forgot {
        gap: 20px; /* ลดช่องว่างระหว่างองค์ประกอบเมื่อหน้าจอเล็กลง */
    }
}
