<form >

    <div *ngIf="!isEmailSubmitted" class="otp-Form">
    <span class="mainHeading">กรุณากรอกEmail</span>
    <div class="input-group">
        <input type="email" id="mail" placeholder="Your email" name="email" [(ngModel)]="email" required email #emailInput="ngModel">
      </div>
      <button class="exitBtn" (click)="closeotp()">×</button>
    <button class="verifyButton" type="submit" (click)="submitemail()">ยืนยัน</button>
    </div>
    
    <div *ngIf="isEmailSubmitted && !isOtpVerified" class="otp-Form">
        <span class="mainHeading">Enter OTP</span>
    <p class="otpSubheading">กรุณากรอกรหัส OTP ที่ระบบส่งให้ทาง เพื่อรีเซ็ตรหัสผ่าน</p>
    <div class="inputContainer">
        <input required="required" maxlength="1" type="text" class="otp-input"            [(ngModel)]="otp[0]" name="otp1" (input)="moveToNext($event, otpInput2)">
        <input required="required" maxlength="1" type="text" class="otp-input" #otpInput2 [(ngModel)]="otp[1]" name="otp2" (input)="moveToNext($event, otpInput3)">
        <input required="required" maxlength="1" type="text" class="otp-input" #otpInput3 [(ngModel)]="otp[2]" name="otp3" (input)="moveToNext($event, otpInput4)">
        <input required="required" maxlength="1" type="text" class="otp-input" #otpInput4 [(ngModel)]="otp[3]" name="otp4" (input)="moveToNext($event, otpInput5)">
        <input required="required" maxlength="1" type="text" class="otp-input" #otpInput5 [(ngModel)]="otp[4]" name="otp5" (input)="moveToNext($event, otpInput6)">
        <input required="required" maxlength="1" type="text" class="otp-input" #otpInput6 [(ngModel)]="otp[5]" name="otp6">

    </div>
    <button class="verifyButton" type="submit" (click)="verifyOtp()">Verify</button>
    <button class="exitBtn" (click)="closeotp()">×</button>
    <p class="resendNote">Didn't receive the code?<label *ngIf="showResendButton">กรุณารอ {{ counter }} วินาทีก่อนที่จะส่งรหัสอีกครั้ง</label>
        <button class="resendBtn" *ngIf="!showResendButton" (click)="resendOtp()">Resend Code</button></p>
    </div>

    <!-- ส่วนกรอกรหัสผ่าน -->
  <div *ngIf="isOtpVerified" class="otp-Form">
    <span class="mainHeading">Reset Your Password</span>
    <div class="input-group">
      <input type="password" placeholder="New password" [(ngModel)]="password" name="password" required>
    </div>
    <div class="input-group">
      <input type="password" placeholder="Confirm password" [(ngModel)]="passwordConfirm" name="passwordConfirm" required>
    </div>
    <button class="verifyButton" type="submit" (click)="resetPassword()">Reset Password</button>
  </div>
</form>

<div *ngIf="showPopup" class="popup">
    <div class="popup-content">
      <h3>{{ popupMessage }}</h3>
      <button (click)="closePopup()">OK</button>
 </div>