<body>
    <div class="forgotpass">
        <div class="forgotpass-sub">
            <div class="form-forgot">
                <label>ลืมรหัสผ่านใช่หรือไม่?</label>
                <label>กรุณากรอกรหัส OTP ที่ระบบส่งให้ทาง เพื่อรีเซ็ตรหัสผ่าน</label>
                <div class="input-otp">
                    <input type="number" name="otp-1" id="otp-1">
                    <input type="number" name="otp-2" id="otp-2">
                    <input type="number" name="otp-3" id="otp-3">
                    <input type="number" name="otp-4" id="otp-4">
                    <input type="number" name="otp-5" id="otp-5">
                    <input type="number" name="otp-6" id="otp-6">
                </div>
                <div class="input-group2">
                    <button type="submit" (click)="checkOTP()">ดำเนินการต่อ</button>
                </div>
            </div>
        </div>
    </div>
</body>