.gbinput-group2 .gbinput-group2-sub {
    border: 2px solid black;
    background-color: white;
    text-align: center;
    color: black;
    cursor: pointer;
    border-color: #f44336;
    color: red;
}
.gbinput-group2 .gbinput-group2-sub:hover {
    background: #f44336;
    color: white;
}
/* .verifyButton {

} */